table, tr, td{
    border:1px solid #bec6d4;
    border-collapse: collapse;
}
tr,td{
    width:60px;
    height:60px;
}
table{
    width: 540px;
    height: 540px;
    margin-left: auto;
    margin-right: auto;
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;
    border:2px solid #344861;
}
.dark-border{
    border:2px solid #344861;
}
.dark-right{
    border-right: 2px solid #344861;
}
input{
    border: none;
    width:60px;
    height:60px;
    font-family: Source Sans Pro,sans-serif;
    font-size: 25px;
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0; 
}
input[type=number] {
    -moz-appearance: textfield;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-left: 25px;
    padding-right: 25px;
}
input:disabled{
    background-color: #eae9e2; 
}
.selection{
    background-color: #bbdefb;
}
.highlight{
    background-color: #e2ebf3 !important;
}
td:focus, tr:focus{
    background-color: #e2ebf3;
}
